<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Población, matrícula y no promovidos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="layout">
    <aside class="sidebar">
        <a href=https://amarufo.github.io/aip_amaru_fo>
            <img src="/static/images/icono1.png" alt="Perfil Proyecto" class="profile-img">
        </a>
        <h2>Módulo de Estimación de Demanda <br> InverData.pe</h2>
        <h5>Academia de Inversión Pública - Econ. Amaru Fernandez Olmedo</h5>
        <p>
            La presente app proyecta la demanda educativa de una institución usando datos históricos de matrícula, población y no promovidos. El usuario ingresa datos generales y series por edad y año; el sistema valida, calcula tasas de crecimiento y proyecta población, matrícula y aulas necesarias. Los resultados se muestran en un dashboard técnico con gráficos y tablas, facilitando la planificación educativa y resumiento el proceso de FORMULACIÓN DE PROYECTOS DE INVERSIÓN PÚBLICA.
        </p>
        <nav>
            <a href="#">Documentación del proyecto</a>
            <a href="#">Descargar app</a>
            <a href=https://amarufo.github.io/aip_amaru_fo>Más contenido y recursos</a>                        
        </nav>
        <div class= "sidebar-social" style="display: flex; justify-content: center; align-items: center; margin-top: 2rem;">
            <a href="https://www.youtube.com/@amarufo_inversionpublica" target="_blank"><img src="static/images/yt.png" alt="YouTube" style="width: 20%; height: 20%; object-fit: contain;"></a>
            <a href="https://www.linkedin.com/in/amarufo/" target="_blank"><img src="static/images/in.png" alt="LinkedIn" style="width: 20%; height: 20%; object-fit: contain;"></a>
            <a href="https://github.com/amarufo" target="_blank"><img src="static/images/gh.png" alt="GitHub" style="width: 20%; height: 20%; object-fit: contain;"></a>
            <a href="https://wa.me/51930123005?text=Estimado,%20buen%20día..." target="_blank"><img src="static/images/wsp.png" alt="WhatsApp" style="width: 20%; height: 20%; object-fit: contain;"></a>
            <a href="mailto:amarufo9523@gmail.com"><img src="static/images/mailito.png" alt="Email" style="width: 20%; height: 20%; object-fit: contain;"></a>
        </div>
    </aside>              
        <div class="content">    
            {% if error %}
                <div class="proyec-error">{{ error }}</div>
            {% endif %}                 
            <form method="post" class="proyec-form">
                <div class="top-btn-row"> <!-- Botones de navegación -->
                    <a href="{{ url_for('paso1') }}" class="proyec-btn top-btn" style="background:#aaa;" {% if error %}onclick="return false;" style="pointer-events:none;opacity:0.9;"{% endif %}>⬅⬅ Regresar sin guardar</a>
                    <button type="submit" class="proyec-btn top-btn">Guardar</button>
                    <a href="{{ url_for('paso3') }}" class="proyec-btn top-btn" style="background:#aaa;" {% if error %}onclick="return false;" style="pointer-events:none;opacity:0.9;"{% endif %}>Continuar al siguiente paso sin guardar ➡➡</a>
                </div>           
                <h1 class="proyec-title">Ingreso de datos poblacionales</h1>                                 
                <div class="form-group">
                    <label for="pob_censo1">Población total del distrito en el año {{ datos['anio_censo1'] }} : 
                        <input type="number" name="pob_censo1" id="pob_censo1" value="{{ datos['pob_censo1'] }}"></label>
                    <label for="pob_censo2">Población total del distrito en el año {{ datos['anio_censo2'] }} : 
                        <input type="number" name="pob_censo2" id="pob_censo2" value="{{ datos['pob_censo2'] }}"></label>
                </div>
                <div class="form-group">
                    <!-- POBLACIÓN POR EDADES -->
                    <h4 class="proyec-title2">Población total por edades en el distrito en el nivel {{ datos["nivel"] }}</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Edad</th>
                                <th>{{ datos['anio_censo1'] }}</th>
                                <th>{{ datos['anio_censo2'] }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for edad in datos["edades"] %}
                            <tr>
                                <td>{{ edad }}</td>
                                {% for anio in [datos['anio_censo1'], datos['anio_censo2']] %}
                                <td>
                                    <input type="number" name="pop_edad_{{anio}}_{{edad}}" value="{{ datos['dic_pop_edad'].get(anio, {}).get(edad, '') }}">
                                </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>              
                    <!-- MATRICULADOS -->
                    <h4 class="proyec-title2">Número de matriculados por grado/edad en los últimos {{ datos["cantidad_anios_matricula"] }} años</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Edad</th>
                                {% for a in datos["anios_hist"] %}
                                    <th>{{ a }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for edad in datos["edades"] %}
                                <tr>
                                    <td>{{ edad }}</td>
                                    {% for anio in datos["anios_hist"] %}
                                        <td>
                                            <input type="number" name="matricula_{{anio}}_{{edad}}" value="{{ datos['dic_mat_by_anio'].get(anio, {}).get(edad, '') }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>        
                    <!-- NO PROMOVIDOS -->
                    <h4 class="proyec-title2">Número de no promovidos por grado/edad en los últimos {{ datos["cantidad_anios_matricula"] }} años</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Edad</th>
                                {% for a in datos["anios_hist"] %}
                                    <th>{{ a }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for edad in datos["edades"] %}
                                <tr>
                                    <td>{{ edad }}</td>
                                    {% for anio in datos["anios_hist"] %}
                                        <td>
                                            <input type="number" name="noprom_{{anio}}_{{edad}}" value="{{ datos['dic_no_promv'].get(anio, {}).get(edad, '') }}">
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>                         
                </div>
            </form>
        </div>
    </div>
    </body>
</html>
